body{
    background-color: black;
  }
  .blac{
    text-align:center;
    color:white;
   
  }
  .row{
    display: flex;
    margin-top:15px;
    flex-wrap: wrap;
  }
  .column{
    flex:23%;
    padding:3px;
    opacity:1px;
  }
  .im{
    width:100%;
    filter: grayscale(100%);
  }
  .im:hover{
    opacity:1px;
    filter:grayscale(0%);
  }
  .bord{
    margin-top: 10px;
  }
  
  @media screen and (max-width: 580px) {
    .column {
      flex: 48%;
    }
  }